

body {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
    color: #ffffff;
}

h2 {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

.navbar {
    margin-bottom: 4.5rem;
    padding: 0;
}

a.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 1rem;
}

.nav-link {
    font-size: 1.2rem;
}

.container-fluid {
    padding: 3% 15%;
    padding-bottom: 5%;
}

#title {
    background-color: #ff4c68;
    width: 100%;
}

.download-button {
    margin: 10% 3% 5% 0;
}

#title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

/* Features Section */

#features {
    text-align: center;
    width: 75%;
    margin: auto;
    background-color: #ffffff;
    position: relative;
    padding: 5rem 0;
}

.easy-to, .elite-clients, .guaranteed-work {
    padding: 2rem;
}

.easy-to i, .elite-clients i, .guaranteed-work i {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    color: #ef8172;
}

.easy-to:hover i, .elite-clients:hover i, .guaranteed-work:hover  i{
    color: #ff4c68; 
}

#features h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

#features p {
    color: #8f8f8f;
}

/* Testimonials */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #ffffff;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-img {
    width: 10%;
    border-radius: 50%;
    margin: 0.5rem;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 2rem;
}

#press img {
    margin: 1rem;
}

.press-logo {
    width: 15%;
}

/* Pricing Section */
#pricing {
    padding: 8rem;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1028px){
    #title {
        text-align: center;
    }

    #title-img{
        position: static;
        transform: rotate(0);
    }
}

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 5rem 10rem;
}

#cta h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    color: #ffffff;
}

.download-button-cta {
    margin: 5% 3% 0 0;
}

#footer {
    text-align: center;
    background-color: #ffffff;
    padding: 3rem 0;
    line-height: 3; 
}

#footer a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    margin-right: 10px;
}

#footer a:nth-last-of-type(1) {
    margin-right: 0;
}